body {
  display: flex;
  flex-direction: column;
  font-family: 'bw-seido', sans-serif;
}

#header {
  width: 600px;
  margin: 40px auto;
  text-align: center;
  font-family: 'bennet-banner-extra-condense', sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
  text-align: center;
}

form label {
}

#controls {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#loading {
  margin: 30px auto;
  display: none;
  border-radius: 20px;
}

#picture-box {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#profile-picture {
  display: block;
}

button {
  display: flex;
  text-align: center;
  padding: 8px 16px;
  background: #99ff00;
  border: none;
  margin: 10px 20px;
}

button span {
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
}

button img {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

button:hover {
  background: #87e000;
}

button:active {
  background: #5f9e00;
}

/**

FONT FACES

**/

@import url('https://p.typekit.net/p.css?s=1&k=udg4eph&ht=tk&f=34876.34877.34880.34881.34888.34889.34892.34893.34900.34901.34904.34905&a=94242322&app=typekit&e=css');

@font-face {
  font-family: 'bennet-banner';
  src: url('https://use.typekit.net/af/9ee8df/00000000000000003b9b012a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/9ee8df/00000000000000003b9b012a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/9ee8df/00000000000000003b9b012a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner';
  src: url('https://use.typekit.net/af/8e1efa/00000000000000003b9b012b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8e1efa/00000000000000003b9b012b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8e1efa/00000000000000003b9b012b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner';
  src: url('https://use.typekit.net/af/4b80af/00000000000000003b9b012e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/4b80af/00000000000000003b9b012e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/4b80af/00000000000000003b9b012e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner';
  src: url('https://use.typekit.net/af/a1238e/00000000000000003b9b012f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a1238e/00000000000000003b9b012f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a1238e/00000000000000003b9b012f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-condensed';
  src: url('https://use.typekit.net/af/5e4d44/00000000000000003b9b0136/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/5e4d44/00000000000000003b9b0136/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/5e4d44/00000000000000003b9b0136/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-condensed';
  src: url('https://use.typekit.net/af/989e7f/00000000000000003b9b0137/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/989e7f/00000000000000003b9b0137/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/989e7f/00000000000000003b9b0137/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-condensed';
  src: url('https://use.typekit.net/af/a1ed30/00000000000000003b9b013a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a1ed30/00000000000000003b9b013a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a1ed30/00000000000000003b9b013a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-condensed';
  src: url('https://use.typekit.net/af/00967f/00000000000000003b9b013b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/00967f/00000000000000003b9b013b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/00967f/00000000000000003b9b013b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-extra-condense';
  src: url('https://use.typekit.net/af/868615/00000000000000003b9b0142/27/l?subset_id=2&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/868615/00000000000000003b9b0142/27/d?subset_id=2&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/868615/00000000000000003b9b0142/27/a?subset_id=2&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-extra-condense';
  src: url('https://use.typekit.net/af/adc63b/00000000000000003b9b0143/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/adc63b/00000000000000003b9b0143/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/adc63b/00000000000000003b9b0143/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-extra-condense';
  src: url('https://use.typekit.net/af/1adbf0/00000000000000003b9b0146/27/l?subset_id=2&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1adbf0/00000000000000003b9b0146/27/d?subset_id=2&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1adbf0/00000000000000003b9b0146/27/a?subset_id=2&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'bennet-banner-extra-condense';
  src: url('https://use.typekit.net/af/e50e2d/00000000000000003b9b0147/27/l?subset_id=2&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e50e2d/00000000000000003b9b0147/27/d?subset_id=2&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e50e2d/00000000000000003b9b0147/27/a?subset_id=2&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

.tk-bennet-banner {
  font-family: 'bennet-banner', sans-serif;
}
.tk-bennet-banner-condensed {
  font-family: 'bennet-banner-condensed', sans-serif;
}
.tk-bennet-banner-extra-condense {
  font-family: 'bennet-banner-extra-condense', sans-serif;
}

/** 

NEUE

**/

@font-face {
  font-family: 'bw-seido';
  src: url('BW-SEIDO/eot/BwSeidoRaw-Regular.eot');
}
